Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

build_doc:
  stage: check
  interruptible: true
  retry: 1
  artifacts:
    name: nuclei_n100_sdk_doc-job${CI_JOB_ID}-${CI_COMMIT_SHA::8}
    paths:
    - doc/build
    expire_in: 2 day
  before_script:
  - apt update
  - apt install -y lftp python3 make latexmk texlive-base texlive-latex-extra python3-pip
  ...

deploy_doc:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ssh $DOC_SERVER "rm -rf $DOC_CENTER/nuclei_sdk/*"
  - ssh $DOC_SERVER "mkdir -p $DOC_CENTER/nuclei_sdk/"
  - cd doc/build
  - scp -r html $DOC_SERVER:$DOC_CENTER/nuclei_n100_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

deploy_website:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ./.ci/ftp_deploy.sh $FTPUSER $FTPPWD $FTPSERVER doc/build/html nuclei_n100_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

SoC/evalsoc: change default SYSTEM_CLOCK from 80M to 16M
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

SoC/evalsoc: add CLINT_Interrupt_Init function
  SoC/evalsoc/Common/Include/system_evalsoc.h
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

SoC/evalsoc: even in CODESIZE=1, still need to probe iregion base
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

application: add clint interrupt demo using systimer
  application/baremetal/demo_clint_timer/Makefile
  application/baremetal/demo_clint_timer/main.c
  application/baremetal/demo_clint_timer/npk.yml
Due: none

tools: Add demo_clint_timer into nsdk_cli configurations
  tools/scripts/nsdk_cli/configs/application.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/app.json
Due: none

doc: update doc for recent demo_clint_timer introduce
  doc/source/changelog.rst
  doc/source/design/app.rst
  doc/source/design/soc/evalsoc.rst
Due: build_doc, deploy_doc, deploy_website

Build: Add hightec toolchain and picolibc stub function support
  Build/Makefile.conf
  Build/toolchain/hightec.mk
  SoC/evalsoc/Common/Source/Stubs/picolibc/stubs.c
  SoC/evalsoc/build.mk
Due: none

application: add benchmark toolchain makefiles for hightec
  application/baremetal/benchmark/coremark/toolchain_hightec.mk
  application/baremetal/benchmark/dhrystone/toolchain_hightec.mk
  application/baremetal/benchmark/whetstone/toolchain_hightec.mk
Due: none

Build: Add QEMU_MC_EXTOPT and QEMU_CPU_EXTOPT make variable for qemu of evalsoc
  SoC/evalsoc/build.mk
Due: none

doc: doc about QEMU_MC_EXTOPT and QEMU_CPU_EXTOPT
  doc/source/changelog.rst
  doc/source/design/soc/evalsoc.rst
Due: build_doc, deploy_doc, deploy_website

Build: Fix QEMU_MC_EXTOPT and QEMU_CPU_EXTOPT options passing issue
  SoC/evalsoc/build.mk
Due: none

tools: add XLCFG_PLIC=1 for demo_plic fpgaci configs
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/app.json
Due: none

SoC/evalsoc: only init PLIC when ECLIC not present but PLIC present
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

application: check whether PLIC really present for demo_plic
  application/baremetal/demo_plic/main.c
Due: none

tools: add more demo_plic checker for nsdk_cli configs
  tools/scripts/nsdk_cli/configs/application.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/app.json
Due: none

tools: update toolapp checker for all cpu cores
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/n200.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/n300.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/n600.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/n900.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/u600.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/u900.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/ux1000.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/ux600.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/ux900.json
Due: none

tools/fpgaci: ux1000 set demo_stack_check "run: false"
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/ux1000.json
Due: none

tools: add more 200 cpu configs for nsdk_cli fpga ci
  tools/scripts/nsdk_cli/configs/cpu/full/n200.json
  tools/scripts/nsdk_cli/configs/cpu/mini/n200.json
Due: none

NMSIS/Core: CSR MDCAUSE.mdcause changed from 0:2 to 0:3
  NMSIS/Core/Include/core_feature_base.h
  NMSIS/Core/Include/riscv_encoding.h
Due: none

SoC/evalsoc: change evalsoc mtvt/mtvec/reset_vector
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/evalsoc.memory
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_sram.ld
  SoC/evalsoc/Common/Source/GCC/intexc_evalsoc.S
  SoC/evalsoc/Common/Source/GCC/startup_evalsoc.S
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

SoC/evalsoc: Fix reset_vector not aligned to 4 bytes for rv32im_zicond_zca_zcb_zcmp_zcmt
  SoC/evalsoc/Common/Source/GCC/startup_evalsoc.S
Due: none

SoC/evalsoc: n200/n300 has changed sram size to 128K
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/evalsoc.memory
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_sram.ld
Due: none

application: make demo_profiling aes code smaller
  application/baremetal/demo_profiling/aes.c
  application/baremetal/demo_profiling/aes.h
  application/baremetal/demo_profiling/gmult.c
  application/baremetal/demo_profiling/gmult.h
  application/baremetal/demo_profiling/main.c
Due: none

application: Fix cpuinfo compile issue when ECLIC not present
  application/baremetal/cpuinfo/main.c
Due: none

SoC/evalsoc: set MTVT and MTVEC csr when it present
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_sram.ld
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

SoC/evalsoc: only support sram download mode now
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_flashxip.ld
Due: none

SoC/evalsoc: update npk.yml for only sram download mode supported
  SoC/evalsoc/Board/nuclei_fpga_eval/npk.yml
Due: none

SoC/evalsoc: try to modify iar support to support new interrupt exception routine
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/IAR/iar_evalsoc_sram.icf
  SoC/evalsoc/Common/Source/IAR/startup.S
Due: none

SoC/evalsoc: Fix iar startup code for zc enabled cases
  SoC/evalsoc/Common/Source/IAR/startup.S
  SoC/evalsoc/Common/Source/IAR/startup_evalsoc.c
Due: none

ideprojects/iar: add startup.S into all iar projects
  ideprojects/iar/baremetal/coremark.ewp
  ideprojects/iar/baremetal/demo_extirq.ewp
  ideprojects/iar/baremetal/demo_irqc.ewp
  ideprojects/iar/baremetal/demo_timer.ewp
  ideprojects/iar/baremetal/dhrystone.ewp
  ideprojects/iar/baremetal/helloworld.ewp
  ideprojects/iar/baremetal/lowpower.ewp
  ideprojects/iar/baremetal/whetstone.ewp
  ideprojects/iar/rtos/freertos_demo.ewp
  ideprojects/iar/rtos/rtthread_demo.ewp
  ideprojects/iar/rtos/rtthread_msh.ewp
  ideprojects/iar/rtos/ucosii_demo.ewp
Due: none

SoC/evalsoc: only keep sram linker script for iar
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/IAR/iar_evalsoc_flashxip.icf
Due: none

misc: bump n100 sdk version to 0.2.0-dev development version
  doc/source/changelog.rst
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

build: Remove note for flashxip download mode supported
  Build/Makefile.base
Due: none

doc: only keep sram download mode
  README.md
  doc/source/design/board/nuclei_fpga_eval.rst
Due: build_doc, deploy_doc, deploy_website

doc: update changelog for recent updates
  doc/source/changelog.rst
  doc/source/design/soc/evalsoc.rst
Due: build_doc, deploy_doc, deploy_website

doc: update notice for nuclei fpga evaluation board
  doc/source/design/board/nuclei_fpga_eval.rst
Due: build_doc, deploy_doc, deploy_website

SoC/evalsoc: small comment optimization
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

ci: remove flashxip from ci matrix
  .gitlab-ci.yml
Due: build_doc, deploy_doc

doc: doc changes for build system
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

ci: don't run sdk on qemu for n100 processor
  .gitlab-ci.yml
Due: build_doc, deploy_doc

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*
