Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

build_doc:
  stage: doc_build
  retry: 1
  artifacts:
    name: nuclei_sdk_doc-${CI_COMMIT_SHA::8}
    paths:
    - doc/build
    expire_in: 2 day
  script:
  - cd doc
  - pip3 install --user -r requirements.txt
  - export PATH=$HOME/.local/bin:$PATH
  - make clean
  - make all
  - make latexpdf
  - cp build/latex/*.pdf build/html/
  tags:
  ...

deploy_doc:
  stage: doc_deploy
  when: on_success
  retry: 1
  script:
  - ssh $DOC_SERVER "rm -rf $DOC_CENTER/nuclei_sdk/*"
  - ssh $DOC_SERVER "mkdir -p $DOC_CENTER/nuclei_sdk/"
  - cd doc/build
  - scp -r html $DOC_SERVER:$DOC_CENTER/nuclei_sdk
  tags:
  - env::native
  - host::xls01
  dependencies:
  - build_doc

deploy_website:
  stage: doc_deploy
  when: on_success
  retry: 1
  script:
  - ./.ci/ftp_deploy.sh $FTPUSER $FTPPWD $FTPSERVER doc/build/html nuclei_sdk
  tags:
  - env::native
  - host::xls01
  dependencies:
  - build_doc

doc: bump doc to 1.0.2 version
  doc/source/changelog.rst
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

misc: bump version t0 0.3.2
  package.json
Due: none

npk: Fix several issues in npk files of SoC and RTOS
  OS/FreeRTOS/npk.yml
  OS/RTThread/npk.yml
  OS/UCOSII/npk.yml
  SoC/demosoc/Board/nuclei_fpga_eval/npk.yml
  SoC/demosoc/Common/npk.yml
  SoC/gd32vf103/Board/gd32vf103v_eval/npk.yml
  SoC/gd32vf103/Board/gd32vf103v_rvstar/npk.yml
  SoC/gd32vf103/Common/npk.yml
Due: none

doc: add changelog for 0.3.3
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

release: bump to 0.3.3 version
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

ci: try to fix ci
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: n205 changed to n305 in nsdk_cli json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu.json
Due: none

release: bump to develop release 0.3.4-dev
  doc/source/changelog.rst
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

doc: add changelog for ilm/ddr download mode changes for demosoc
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

SoC: Data section lma now equal to vma for ilm and ddr
  SoC/demosoc/Board/nuclei_fpga_eval/Source/GCC/gcc_demosoc_ddr.ld
  SoC/demosoc/Board/nuclei_fpga_eval/Source/GCC/gcc_demosoc_ilm.ld
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
Due: none

tools: Fix build only case in bench and execute
  tools/scripts/nsdk_cli/nsdk_bench.py
  tools/scripts/nsdk_cli/nsdk_execute.py
Due: none

SoC: put all rodata section to ram memory for ilm/ddr in demosoc
  SoC/demosoc/Board/nuclei_fpga_eval/Source/GCC/gcc_demosoc_ddr.ld
  SoC/demosoc/Board/nuclei_fpga_eval/Source/GCC/gcc_demosoc_ilm.ld
Due: none

tools: Fix bug when global checks not defined
  tools/scripts/nsdk_cli/nsdk_bench.py
  tools/scripts/nsdk_cli/nsdk_execute.py
Due: none

tools: generate html report if markdown plugin installed
  tools/scripts/nsdk_cli/nsdk_report.py
  tools/scripts/requirements.txt
Due: none

tools: Fix generate report for bench script
  SoC/demosoc/build.mk
  tools/scripts/nsdk_cli/nsdk_bench.py
Due: none

ci: upload artifacts even job failed
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: fix json n205-dsp -> n305 dsp
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci.json
Due: none

SoC: Fix incorrect introduced build settings for demosoc
  SoC/demosoc/build.mk
Due: none

ci: nsdk cli tool to record build/run time in report
  tools/scripts/nsdk_cli/nsdk_bench.py
  tools/scripts/nsdk_cli/nsdk_execute.py
  tools/scripts/nsdk_cli/nsdk_report.py
Due: none

tools: add css when generate html
  tools/scripts/nsdk_cli/nsdk_report.py
Due: none

tools: fix typo in nuclei_fpga_eval_ci.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci.json
Due: none

tools: add extra p into isa when run xlspike
  tools/scripts/nsdk_cli/nsdk_builder.py
Due: none

application: change dhrystone simulation run loop to 200
  application/baremetal/benchmark/dhrystone/dhry_1.c
Due: none

build: Ignore dasm target error in one of the command line
  .gitignore
  Build/Makefile.rules
Due: none

doc: update changelog
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

npk: update application categroy and keywords in app npk
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/dhrystone/npk.yml
  application/baremetal/benchmark/whetstone/npk.yml
  application/baremetal/demo_dsp/npk.yml
  application/baremetal/demo_eclic/npk.yml
  application/baremetal/demo_nice/npk.yml
  application/baremetal/demo_timer/npk.yml
  application/baremetal/helloworld/npk.yml
  application/freertos/demo/npk.yml
  application/rtthread/demo/npk.yml
  application/rtthread/msh/npk.yml
  application/ucosii/demo/npk.yml
Due: none

npk: Add jlink debug section in npk
  SoC/demosoc/Board/nuclei_fpga_eval/npk.yml
  SoC/demosoc/Common/npk.yml
Due: none

NMSIS: sync up NMSIS-Core header to NMSIS commit e3ab873
  NMSIS/Core/Include/core_feature_cache.h
  NMSIS/Core/Include/riscv_encoding.h
Due: none

NMSIS: Fix cache get info function
  NMSIS/Core/Include/core_feature_cache.h
Due: none

NMSIS: Flush line entry ECLIC register vector when D Cache present
  NMSIS/Core/Include/core_feature_eclic.h
  NMSIS/Core/Include/nmsis_core.h
Due: none

NMSIS: just flush vector entry is enough, no need to invalidate
  NMSIS/Core/Include/core_feature_eclic.h
Due: none

tools: add run configuration for xlspike nuclei_fpga_eval_ci_xlspike.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_xlspike.json
Due: none

tools: modify qemu select cpu args,change `p` to ',ext=p'
  tools/scripts/nsdk_cli/nsdk_builder.py
Due: none

soc: Fix newlib-nano printf npk handling
  SoC/demosoc/Board/nuclei_fpga_eval/npk.yml
  SoC/demosoc/Common/npk.yml
  SoC/gd32vf103/Common/npk.yml
Due: none

build: build asm with -x assembler-with-cpp
  Build/Makefile.conf
Due: none

soc: add -x assembler-with-cpp in npk.yml
  SoC/demosoc/Common/npk.yml
  SoC/gd32vf103/Common/npk.yml
Due: none

doc: update changelog for 0.3.4
  doc/source/changelog.rst
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

misc: bump version to 0.3.4
  npk.yml
  package.json
Due: none

misc: start development of 0.3.5
  doc/source/changelog.rst
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

soc: Fix wrong content of gd32vf103 svd
  SoC/gd32vf103/Common/gd32vf103.svd
Due: none

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/source/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/source/**/**/**/*
