Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

build_doc:
  stage: build
  interruptible: true
  retry: 1
  artifacts:
    name: nuclei_sdk_doc-job${CI_JOB_ID}-${CI_COMMIT_SHA::8}
    paths:
    - doc/build
    expire_in: 2 day
  before_script:
  - apt update
  - apt install -y lftp python3 make latexmk texlive-base texlive-latex-extra python3-pip
  ...

deploy_doc:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ssh $DOC_SERVER "rm -rf $DOC_CENTER/nuclei_sdk/*"
  - ssh $DOC_SERVER "mkdir -p $DOC_CENTER/nuclei_sdk/"
  - cd doc/build
  - scp -r html $DOC_SERVER:$DOC_CENTER/nuclei_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

deploy_website:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ./.ci/ftp_deploy.sh $FTPUSER $FTPPWD $FTPSERVER doc/build/html nuclei_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

tools: add a script to build xlcz elfs for rtl simulation
  tools/scripts/misc/build_xlcz.sh
Due: none

build: when toolchain related makefile changed trigger rebuild
  Build/Makefile.conf
Due: none

application: optimize coremark gcc13 flags to improve performance
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_nuclei_gnu.mk
Due: none

application: optimize coremark gcc13 options for n200
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_nuclei_gnu.mk
Due: none

application: optimize coremark gcc13 flags for n900
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_nuclei_gnu.mk
Due: none

application: optimize coremark gcc13 options for nx900 and n900
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_nuclei_gnu.mk
Due: none

build: add NCRTIO to support different libncrt fileops
  Build/Makefile.base
  Build/toolchain/nuclei_gnu.mk
  Build/toolchain/nuclei_llvm.mk
  Build/toolchain/terapines.mk
Due: none

build: pass extra CPU_SERIES macro during compiling
  Build/Makefile.conf
Due: none

application: use proper iteration count for different cpu series when simulation
  application/baremetal/benchmark/coremark/core_main.c
Due: none

doc: update changelog for 0.5.0 for recent a lot of changes
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

application: add comments about NMSIS_LIB_ARCH usage in demo_dsp
  application/baremetal/demo_dsp/Makefile
Due: none

doc: update design/develop/quickstart/changelog for 0.5.0
  doc/source/changelog.rst
  doc/source/design/board/nuclei_fpga_eval.rst
  doc/source/design/peripheral.rst
  doc/source/design/soc/demosoc.rst
  doc/source/design/soc/evalsoc.rst
  doc/source/design/soc/gd32vf103.rst
  doc/source/develop/buildsystem.rst
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

doc: update README.md for 0.5.0
  README.md
Due: none

env: update rt-thread scons script
  SConscript
Due: none

doc: update REAMDE.md about 0.5.0 nuclei studio requirements
  README.md
Due: none

doc: mention about iar project heap/stack difference with gcc linker
  ideprojects/iar/README.md
Due: none

doc: since demosoc is removed, we need to replace demosoc to evalsoc
  doc/source/asserts/images/nuclei_sdk_diagram.png
  doc/source/contribute.rst
  doc/source/design/app.rst
  doc/source/design/board/nuclei_fpga_eval.rst
  doc/source/design/nuclei.rst
  doc/source/design/overview.rst
  doc/source/design/peripheral.rst
  doc/source/design/soc/evalsoc.rst
  doc/source/develop/buildsystem.rst
  doc/source/faq.rst
  doc/source/overview.rst
Due: build_doc, deploy_doc, deploy_website

ci: bump sdkbuild image used to 2023.10.13
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: change to sdkbuild 2023.10.14
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: bump sdkbuild to 2023.10.16 without gcc far jump patch
  .gitlab-ci.yml
Due: build_doc, deploy_doc

build: adapt libncrt library support for gcc and clang
  Build/toolchain/nuclei_gnu.mk
  Build/toolchain/nuclei_llvm.mk
Due: none

SoC: update libncrt configuration in npk.yml for evalsoc/gd32vf103
  SoC/evalsoc/Common/npk.yml
  SoC/gd32vf103/Common/npk.yml
Due: none

build: don't link -lm library when using libncrt library
  Build/Makefile.conf
  SoC/evalsoc/Common/Source/Stubs/libncrt/stubs.c
  application/baremetal/benchmark/whetstone/Makefile
  application/baremetal/demo_dsp/Makefile
Due: none

application: only link -lm when using newlib library in npk.yml
  application/baremetal/benchmark/whetstone/npk.yml
  application/baremetal/demo_dsp/npk.yml
Due: none

doc: mention more about libncrt library should not link with -lm
  doc/source/changelog.rst
  doc/source/develop/buildsystem.rst
  doc/source/faq.rst
Due: build_doc, deploy_doc, deploy_website

doc: update more details about STDCLIB support for gcc/clang
  doc/source/changelog.rst
  doc/source/develop/buildsystem.rst
  doc/source/faq.rst
Due: build_doc, deploy_doc, deploy_website

ci: change sdkbuild to 2023.10.18 which is near to final release
  .gitlab-ci.yml
Due: build_doc, deploy_doc

application: Fix demo_cidu application npk.yml to match makefile
  application/baremetal/demo_cidu/Makefile
  application/baremetal/demo_cidu/npk.yml
Due: none

application: optimize application npk.yml app description
  application/baremetal/cpuinfo/npk.yml
  application/baremetal/demo_cache/npk.yml
  application/baremetal/demo_dsp/npk.yml
  application/baremetal/demo_eclic/npk.yml
  application/baremetal/demo_pmp/npk.yml
  application/baremetal/demo_smode_eclic/npk.yml
  application/baremetal/demo_spmp/npk.yml
  application/baremetal/demo_stack_check/npk.yml
  application/baremetal/demo_timer/npk.yml
  application/baremetal/helloworld/npk.yml
  application/baremetal/lowpower/npk.yml
Due: none

test/core: Fix a align test case check align 2 bytes
  test/core/test_compiler.c
Due: none

SoC/evalsoc: typo and code cleanup for evalsoc
  SoC/evalsoc/Common/Include/evalsoc.h
  SoC/evalsoc/Common/Source/IAR/intexc_evalsoc.S
  SoC/evalsoc/Common/Source/IAR/intexc_evalsoc_s.S
  SoC/evalsoc/Common/Source/IAR/startup_evalsoc.c
Due: none

test/core: Fix implementation of get_max_lvl_pri due to nlbits could be larger than __ECLIC_INTCTLBITS
  test/core/test_eclic.c
Due: none

NMSIS/Core: clean and optimize header files comments
  NMSIS/Core/Include/core_feature_base.h
  NMSIS/Core/Include/core_feature_bitmanip.h
  NMSIS/Core/Include/core_feature_cache.h
  NMSIS/Core/Include/core_feature_eclic.h
  NMSIS/Core/Include/core_feature_timer.h
  NMSIS/Core/Include/core_feature_vector.h
  NMSIS/Core/Include/nmsis_bench.h
Due: none

ci: update github ci using latest 2023.10 toolchain and qemu
  .github/workflows/build_sdk.yaml
Due: none

NMSIS/Core: Fix compile warning reported by clang
  NMSIS/Core/Include/nmsis_bench.h
Due: none

OS/UCOSII: Fix compiler warning reported by clang
  OS/UCOSII/source/os_mem.c
Due: none

OS/FreeRTOS: Fix compiler warning reported by clang
  OS/FreeRTOS/Source/portable/MemMang/heap_4.c
Due: none

Build: Add buildall target in root Makefile to build all the applications
  Makefile
Due: none

application: Fix almost all compiler warning reported by clang for rv32/rv64
  application/baremetal/benchmark/dhrystone/dhry_1.c
  application/baremetal/cpuinfo/main.c
  application/baremetal/demo_cidu/demo_cidu.c
  application/baremetal/demo_nice/insn.c
  application/baremetal/demo_nice/main.c
  application/baremetal/demo_pmp/demo_pmp.c
  application/baremetal/demo_smode_eclic/demo_smode_eclic.c
  application/baremetal/demo_spmp/demo_spmp.c
  application/baremetal/lowpower/main.c
  application/baremetal/smphello/main.c
Due: none

test/core: Fix most compile warnings reported by clang
  test/core/test_atomic.c
  test/core/test_bench.c
  test/core/test_compiler.c
  test/core/test_eclic.c
  test/core/test_fpu.c
  test/core/test_pmp.c
Due: none

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*
