Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

build_doc:
  stage: build
  interruptible: true
  retry: 1
  artifacts:
    name: nuclei_sdk_doc-job${CI_JOB_ID}-${CI_COMMIT_SHA::8}
    paths:
    - doc/build
    expire_in: 2 day
  before_script:
  - apt update
  - apt install -y lftp python3 make latexmk texlive-base texlive-latex-extra python3-pip
  ...

deploy_doc:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ssh $DOC_SERVER "rm -rf $DOC_CENTER/nuclei_sdk/*"
  - ssh $DOC_SERVER "mkdir -p $DOC_CENTER/nuclei_sdk/"
  - cd doc/build
  - scp -r html $DOC_SERVER:$DOC_CENTER/nuclei_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

deploy_website:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ./.ci/ftp_deploy.sh $FTPUSER $FTPPWD $FTPSERVER doc/build/html nuclei_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

SoC/gd32vf103: nuclei_archext not existed in gd32vf103 npk.yml
  SoC/gd32vf103/Common/npk.yml
Due: none

doc: add demo_stack_check part and some spell fix
  doc/source/design/app.rst
Due: build_doc, deploy_doc, deploy_website

application: Fix typo in demo_stack_check app
  application/baremetal/demo_stack_check/demo_stack_check.c
Due: none

doc: remove BOARD=gd32vf103v_rvstar for SOC=gd32vf103 case when run application
  doc/source/design/app.rst
Due: build_doc, deploy_doc, deploy_website

doc: mention about simple command line in get started guide
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

doc: update SEMIHOST make var doc
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

Build: Force default BOARD to gd32vf103v_rvstar for gd32vf103 when BOARD is not valid
  SoC/gd32vf103/build.mk
Due: none

doc: recommend to use nuclei studio prebuilt toolchain to test nuclei sdk in quick start
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

doc: add more notes about running application requirements
  doc/source/design/app.rst
Due: build_doc, deploy_doc, deploy_website

NMSIS/Core: Fix compile warning reported by IAR when __CCM_PRESENT=1
  NMSIS/Core/Include/core_feature_cache.h
Due: none

SoC/evalsoc: n900 evalsoc has 83 interrupts, vector need 512 bytes align
  SoC/evalsoc/Common/Source/IAR/startup_evalsoc.c
Due: none

application: show eclic interrupt information if present
  application/baremetal/cpuinfo/main.c
Due: none

SoC/evalsoc: change iar vector table align to 512 bytes
  SoC/evalsoc/Common/Source/IAR/startup_evalsoc.c
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

SoC/evalsoc: Add more TODO comments for IAR startup code
  SoC/evalsoc/Common/Source/IAR/startup_evalsoc.c
Due: none

SoC/evalsoc: Fix wrong npk.yml syntax
  SoC/evalsoc/Common/npk.yml
Due: none

ci: bump sdkbuild 2023.10.20 with rvv updates and binutils fix
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: use sdkbuild 2023.10.20v2
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: change to use sdkbuild 2023.10.22
  .gitlab-ci.yml
Due: build_doc, deploy_doc

build: remove linker warning for gnu toolchain 2023.10
  Build/toolchain/nuclei_gnu.mk
Due: none

ci: bump sdkbuild to 2023.10.13
  .gitlab-ci.yml
Due: build_doc, deploy_doc

application: update demo nice inst opcode due to rtl change
  application/baremetal/demo_nice/insn.h
Due: none

ci: bump sdkbuild to 2023.10.23v2
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ideprojects/iar: upgrade iar ideprojects from EWRISCV v3.20 to v3.30
  ideprojects/iar/baremetal/coremark.ewd
  ideprojects/iar/baremetal/coremark.ewp
  ideprojects/iar/baremetal/cpuinfo.ewd
  ideprojects/iar/baremetal/cpuinfo.ewp
  ideprojects/iar/baremetal/demo_cache.ewd
  ideprojects/iar/baremetal/demo_cache.ewp
  ideprojects/iar/baremetal/demo_dsp.ewd
  ideprojects/iar/baremetal/demo_dsp.ewp
  ideprojects/iar/baremetal/demo_eclic.ewd
  ideprojects/iar/baremetal/demo_eclic.ewp
  ideprojects/iar/baremetal/demo_nice.ewd
  ideprojects/iar/baremetal/demo_nice.ewp
  ideprojects/iar/baremetal/demo_pmp.ewd
  ideprojects/iar/baremetal/demo_pmp.ewp
  ideprojects/iar/baremetal/demo_smode_eclic.ewd
  ideprojects/iar/baremetal/demo_smode_eclic.ewp
  ideprojects/iar/baremetal/demo_spmp.ewd
  ideprojects/iar/baremetal/demo_spmp.ewp
  ideprojects/iar/baremetal/demo_stack_check.ewd
  ideprojects/iar/baremetal/demo_stack_check.ewp
  ideprojects/iar/baremetal/demo_timer.ewd
  ideprojects/iar/baremetal/demo_timer.ewp
  ideprojects/iar/baremetal/dhrystone.ewd
  ideprojects/iar/baremetal/dhrystone.ewp
  ideprojects/iar/baremetal/helloworld.ewd
  ideprojects/iar/baremetal/helloworld.ewp
  ideprojects/iar/baremetal/lowpower.ewd
  ideprojects/iar/baremetal/lowpower.ewp
  ideprojects/iar/baremetal/whetstone.ewd
  ideprojects/iar/baremetal/whetstone.ewp
  ideprojects/iar/rtos/freertos_demo.ewd
  ideprojects/iar/rtos/freertos_demo.ewp
  ideprojects/iar/rtos/rtthread_demo.ewd
  ideprojects/iar/rtos/rtthread_demo.ewp
  ideprojects/iar/rtos/rtthread_msh.ewd
  ideprojects/iar/rtos/rtthread_msh.ewp
  ideprojects/iar/rtos/ucosii_demo.ewd
  ideprojects/iar/rtos/ucosii_demo.ewp
Due: none

ideprojects/iar: bump script to use iar risc-v v3.30
  ideprojects/iar/scripts/upload_iar_elfs.sh
Due: none

build: move NOGC SIMULATION BANNER make variable process into generic part
  Build/Makefile.conf
  Build/toolchain/nuclei_gnu.mk
  Build/toolchain/nuclei_llvm.mk
  Build/toolchain/terapines.mk
Due: none

doc: update libncrt version upgrade suggestion and documentation
  doc/source/changelog.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

doc: update iar projects README.md for iar riscv 3.30
  ideprojects/iar/README.md
Due: none

ci: bump sdkbuild 2023.10.24 with rvv fixes and addibne fixes
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ideprojects/iar: update prebuilt iar projects using iar 3.30
  ideprojects/iar/README.md
Due: none

SoC/evalsoc: update doxygen format comment and rearrange code
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

SoC/evalsoc: use __WEAK macro to attribute function
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

ci: bump sdkbuild 2023.10.25
  .gitlab-ci.yml
Due: build_doc, deploy_doc

build: for newlib nano use system include /include/newlib-nano
  Build/toolchain/nuclei_gnu.mk
  Build/toolchain/nuclei_llvm.mk
Due: none

SoC: update npk.yml for newlib nano system include
  SoC/evalsoc/Common/npk.yml
  SoC/gd32vf103/Common/npk.yml
Due: none

ci: bump sdkbuild to 2023.10.26
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: bump sdkbuild to 2023.10.26v2
  .gitlab-ci.yml
Due: build_doc, deploy_doc

NMSIS: bump NMSIS Core/DSP/NN header to 1.2.0 release
  NMSIS/Core/Include/core_compatiable.h
  NMSIS/Core/Include/core_feature_dsp.h
  NMSIS/Core/Include/nmsis_core.h
  NMSIS/Core/Include/nmsis_gcc.h
  NMSIS/Core/Include/nmsis_version.h
  NMSIS/DSP/Include/dsp/none.h
  NMSIS/DSP/Include/riscv_common_tables.h
  NMSIS/DSP/Include/riscv_const_structs.h
  NMSIS/DSP/Include/riscv_math.h
  NMSIS/DSP/Include/riscv_math_f16.h
  NMSIS/DSP/Include/riscv_math_types.h
  NMSIS/DSP/Include/riscv_math_types_f16.h
  NMSIS/DSP/Include/riscv_vec_math.h
  NMSIS/NN/Include/riscv_nn_math_types.h
  NMSIS/NN/Include/riscv_nnsupportfunctions.h
  NMSIS/npk.yml
Due: none

npk: bump sdk npk version to 0.5.0
  npk.yml
Due: none

env: bump package version to 0.5.0
  package.json
Due: none

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*
