Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

build_doc:
  stage: check
  interruptible: true
  retry: 1
  artifacts:
    name: nuclei_n100_sdk_doc-job${CI_JOB_ID}-${CI_COMMIT_SHA::8}
    paths:
    - doc/build
    expire_in: 2 day
  before_script:
  - apt update
  - apt install -y lftp python3 make latexmk texlive-base texlive-latex-extra python3-pip
  ...

deploy_doc:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ssh $DOC_SERVER "rm -rf $DOC_CENTER/nuclei_sdk/*"
  - ssh $DOC_SERVER "mkdir -p $DOC_CENTER/nuclei_sdk/"
  - cd doc/build
  - scp -r html $DOC_SERVER:$DOC_CENTER/nuclei_n100_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

deploy_website:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ./.ci/ftp_deploy.sh $FTPUSER $FTPPWD $FTPSERVER doc/build/html nuclei_n100_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

doc: update demo_smpu design
  doc/source/design/app.rst
Due: build_doc, deploy_doc, deploy_website

SoC: add __SMPU_ENTRY_NUM define and CFG_HAS_SMPU define
  SoC/evalsoc/Common/Include/cpufeature.h
  SoC/evalsoc/Common/Include/evalsoc.h
Due: none

NMSIS: add __set_SMPUSWITCHx ,__get_SMPUSWITCHx update CSR encoding and CFG bits of SMPU
  NMSIS/Core/Include/core_feature_spmp.h
  NMSIS/Core/Include/riscv_encoding.h
Due: none

demo_spmp: show address(instruction/data) try to violate fix npk.yml conf Signed-off-by: dongyongtao <dongyongtao@nucleisys.com>
  application/baremetal/demo_spmp/demo_spmp.c
  application/baremetal/demo_spmp/npk.yml
Due: none

application: should use __PMP_PRESENT in demo_smode_eclic
  application/baremetal/demo_smode_eclic/demo_smode_eclic.c
Due: none

tools/nsdk_cli: update configs for demo_smpu
  tools/scripts/nsdk_cli/configs/application.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/n200.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/n200.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolbench/app.json
  tools/scripts/nsdk_cli/configs/gd32vf103c_dlink.json
  tools/scripts/nsdk_cli/configs/gd32vf103c_longan_nano.json
  tools/scripts/nsdk_cli/configs/gd32vf103c_t_display.json
  tools/scripts/nsdk_cli/configs/gd32vf103v_eval.json
  tools/scripts/nsdk_cli/configs/gd32vf103v_eval_qemu.json
  tools/scripts/nsdk_cli/configs/gd32vf103v_rvstar.json
  tools/scripts/nsdk_cli/configs/gd32vf103v_rvstar_qemu.json
  tools/scripts/nsdk_cli/configs/gd32vw55h_eval.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_bpv.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_bpv_llvm.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_bpv_newlib.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_libncrt.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu_llvm.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu_newlib.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu_small_gnu.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu_small_llvm.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_sanity.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_sanity.json.libncrt
  tools/scripts/nsdk_cli/configs/rvv_application.json
Due: none

Components: optimize dump_gprof.gdb warning
  Components/profiling/dump_gprof.gdb
Due: none

application: optimize coremark flags for 600 series cpu
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_nuclei_gnu.mk
Due: none

ci: bump sdkbuild to 2024.06.20
  .gitlab-ci.yml
Due: build_doc, deploy_doc

application: cpuinfo case show cpu name, version, isa for autogenerated sdk by nuclei gen
  application/baremetal/cpuinfo/main.c
Due: none

tools: add more n100 fpgaci configuration files
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/n100.json
  tools/scripts/nsdk_cli/configs/fpgaci/barebench/n100.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/n100.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibbench/n100.json
  tools/scripts/nsdk_cli/configs/fpgaci/dhrybench/n100.json
  tools/scripts/nsdk_cli/configs/fpgaci/runmbench/n100.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolbench/n100.json
  tools/scripts/nsdk_cli/configs/fpgaci/zcbench/config.json
  tools/scripts/nsdk_cli/configs/fpgaci/zcbench/n100.json
  tools/scripts/nsdk_cli/configs/fpgaci/zcbench/n200.json
  tools/scripts/nsdk_cli/configs/fpgaci/zcclibbench/config.json
  tools/scripts/nsdk_cli/configs/fpgaci/zcclibbench/n100.json
  tools/scripts/nsdk_cli/configs/fpgaci/zcclibbench/n200.json
Due: none

application: optimize dhrystone ground options for n100
  application/baremetal/benchmark/dhrystone/dhry_2.c
  application/baremetal/benchmark/dhrystone/npk.yml
  application/baremetal/benchmark/dhrystone/strcmp_xlcz.S
  application/baremetal/benchmark/dhrystone/toolchain_nuclei_gnu.mk
Due: none

application: update coremark flags for n100 + zicond
  application/baremetal/benchmark/coremark/core_util.c
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_nuclei_gnu.mk
Due: none

application: add comments about the cpu info display
  application/baremetal/cpuinfo/main.c
Due: none

application: make RUNMODE=lm dhrystone bench result works
  application/baremetal/benchmark/dhrystone/dhry_1.c
Due: none

npk: guess cpu_series via passed nuclei_core
  SoC/evalsoc/Common/npk.yml
  SoC/gd32vf103/Common/npk.yml
  SoC/gd32vw55x/Common/npk.yml
  application/baremetal/benchmark/coremark/npk.yml
Due: none

application: optimize coremark flags for 900 series
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_nuclei_gnu.mk
Due: none

SoC/evalsoc: remove unused macros in intexc_evalsoc.S
  SoC/evalsoc/Common/Source/GCC/intexc_evalsoc.S
  SoC/evalsoc/Common/Source/IAR/intexc_evalsoc.S
Due: none

SoC: Fix npk -isystem pass issue as workaround for nuclei studio
  SoC/evalsoc/Common/npk.yml
  SoC/gd32vf103/Common/npk.yml
  SoC/gd32vw55x/Common/npk.yml
Due: none

doc: update changelog for 0.6.0 and bump doc ver to 0.6.0
  doc/source/changelog.rst
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

SoC/evalsoc: npk workaround for -isystem option in Nuclei Studio
  SoC/evalsoc/Common/npk.yml
Due: none

doc: bump changelog for n100 sdk 0.1.0
  README.md
  doc/source/changelog.rst
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

bump nuclei n100 sdk to 0.1.0 release version
  npk.yml
Due: none

misc: bump sdk version to 0.6.0
  npk.yml
  package.json
Due: none

ci: bump sdkbuild to 2024.06.26
  .gitlab-ci.yml
Due: build_doc, deploy_doc

SoC/evalsoc: remove unused lines in linker script files
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_flashxip.ld
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_sram.ld
Due: none

build: add nuclei_llvm experimental support
  Build/Makefile.conf
  Build/toolchain/nuclei_gnu.mk
  Build/toolchain/nuclei_llvm.mk
Due: none

ci: bump sdkbuild to 2024.06
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: bump github ci using nuclei tools 2024.06
  .github/workflows/build_sdk.yaml
Due: none

doc: update
  README.md
Due: none

doc: update nuclei sdk diagram
  doc/source/asserts/images/nuclei_sdk_diagram.png
Due: build_doc, deploy_doc, deploy_website

doc: update README.md for nuclei sdk 0.6.0
  README.md
Due: none

doc: update REAMDE.md for nuclei n100 sdk 0.1.0
  README.md
Due: none

doc: update doc for nuclei n100 sdk 0.1.0
  README.md
  doc/source/changelog.rst
  doc/source/develop/buildsystem.rst
  doc/source/overview.rst
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

doc: update doc for nuclei sdk 0.6.0
  doc/source/changelog.rst
  doc/source/overview.rst
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

SoC/evalsoc: Fix n100em core in npk
  SoC/evalsoc/Common/npk.yml
Due: none

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*
