Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*

SoC/evalsoc: add nscan1_mode comment notice for openocd 2023.10
  SoC/evalsoc/Board/nuclei_fpga_eval/openocd_evalsoc.cfg
Due: none

doc: bump doc version to 0.5.0
  doc/source/changelog.rst
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

env: bump NMSIS_VERSION to v1.2.0
  NMSIS_VERSION
Due: none

ci: change sdkbuild to 2023.10
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools/scripts: Add zve32f and zfh/zvfh test config for 900
  tools/scripts/nsdk_cli/configs/cpu/full/n900.json
  tools/scripts/nsdk_cli/configs/cpu/full/ux900.json
Due: none

NMSIS/Core: Fix missing break in __set_hpm_event function
  NMSIS/Core/Include/core_feature_base.h
Due: none

doc: update doc about __set_hpm_event api fix
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

build: enable parallel build for root Makefile by passing PARALLEL=-j
  Makefile
Due: none

build: update STDCLIB library configuration for terapines toolchain
  Build/toolchain/terapines.mk
Due: none

application: update rtos demo TARGET name to generate correct elf name
  application/freertos/demo/Makefile
  application/rtthread/demo/Makefile
  application/rtthread/msh/Makefile
  application/ucosii/demo/Makefile
Due: none

doc: update faq about gcc13 missing rvintrin.h
  doc/source/faq.rst
Due: build_doc, deploy_doc, deploy_website

tools: optimize stack check demo pass checks
  tools/scripts/nsdk_cli/configs/application.json
Due: none

tools: remove zfh/zvfh cpu config for now
  tools/scripts/nsdk_cli/configs/cpu/full/n900.json
  tools/scripts/nsdk_cli/configs/cpu/full/ux900.json
Due: none

build: mention about _print_float link fail for clang and terapines zcc
  Build/toolchain/nuclei_llvm.mk
  Build/toolchain/terapines.mk
Due: none

doc: add more notices about 0.5.0 release changes
  doc/source/changelog.rst
  doc/source/contribute.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

application: enable zicond optimize for crc16 and crcu16 in coremark
  application/baremetal/benchmark/coremark/core_util.c
Due: none

doc: update doc appendix
  doc/source/appendix.rst
Due: build_doc, deploy_doc, deploy_website

SoC/evalsoc: Add u900 series into npk nuclei_core choices
  SoC/evalsoc/Common/npk.yml
Due: none

SoC: Add hints and tips for evalsoc and gd32vf103 npk.yml
  SoC/evalsoc/Common/npk.yml
  SoC/gd32vf103/Common/npk.yml
  npk.yml
Due: none

env: update setup script for Nuclei Studio 2023.10
  setup.bat
  setup.ps1
  setup.sh
Due: none

scons: update rt-thread scons script
  SConscript
Due: none

SoC/evalsoc: Fix wrong hints in heapsz of evalsoc npk.yml
  SoC/evalsoc/Common/npk.yml
Due: none

doc: update changelog to mention sdk npk only compatiable with 2023.10 IDE
  doc/source/changelog.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

doc: update README.md for 0.5.0 release
  README.md
Due: none

doc: add faq about riscv-nuclei-elf-gcc not found issue
  doc/source/faq.rst
Due: build_doc, deploy_doc, deploy_website

doc: mention about default SOC in build system
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

doc: mention nuclei sdk 0.5.0 need to work with Nuclei Studio 2023.10
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

doc: optimize changelog and faq format for 0.5.0
  doc/source/changelog.rst
  doc/source/faq.rst
Due: build_doc, deploy_doc, deploy_website

doc: optimize quickstart and buildsystem part for 0.5.0
  doc/source/develop/buildsystem.rst
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

env: start nuclei sdk 0.5.1 development
  doc/source/changelog.rst
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

fpgaci: remove duplicated cpuinfo appconfig in app.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
Due: none

tools/fpgaci: set demo_stack_check to build true, run false except n300(only n300 support stack check for now)
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/n200.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/n600.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/n900.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/ux600.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/ux900.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/n200.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/n600.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/n900.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/ux600.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/ux900.json
Due: none

tools/fpgaci: add pass checkers for demo_stack_check
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
Due: none

application: optimize gcc13 coremark flags for nx900fdbp and nx900fdbpv
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_nuclei_gnu.mk
Due: none

application: optimize nx900b coremark flags for gcc13
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_nuclei_gnu.mk
Due: none

application: optimize dhrystone benchmark options for 900
  application/baremetal/benchmark/dhrystone/npk.yml
  application/baremetal/benchmark/dhrystone/toolchain_nuclei_gnu.mk
  application/baremetal/benchmark/dhrystone/toolchain_nuclei_llvm.mk
  application/baremetal/benchmark/dhrystone/toolchain_terapines.mk
Due: none

application: add missing -fno-builtin-printf to avoid dhrystone link and run error
  application/baremetal/benchmark/dhrystone/npk.yml
  application/baremetal/benchmark/dhrystone/toolchain_nuclei_gnu.mk
  application/baremetal/benchmark/dhrystone/toolchain_nuclei_llvm.mk
  application/baremetal/benchmark/dhrystone/toolchain_terapines.mk
Due: none

NMSIS/Core: Remove unused header files for n100
  NMSIS/Core/Include/core_feature_cidu.h
  NMSIS/Core/Include/core_feature_irqc.h
  NMSIS/Core/Include/core_feature_pmp.h
  NMSIS/Core/Include/core_feature_spmp.h
  NMSIS/Core/Include/nmsis_core.h
Due: none
