Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*

tools: add threadx running checker
  tools/scripts/nsdk_cli/configs/application.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
Due: none

application: add threadx demo
  application/threadx/demo/Makefile
  application/threadx/demo/main.c
  application/threadx/demo/npk.yml
  application/threadx/demo/tx_user.h
Due: none

OS: add threadx nuclei gnu toolchain port code
  OS/ThreadX/ports/nuclei/gcc/context.S
  OS/ThreadX/ports/nuclei/gcc/interrupt.S
Due: none

npk: add change for n100 series for n100 series soc
  SoC/evalsoc/Common/npk.yml
Due: none

ci: change to use sdkbuild 2024.01.17
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: add check_xlcz.sh which is used to test xlcz and addibne generation
  tools/scripts/misc/check_xlcz.sh
Due: none

application: update whetstone benchmark flags for 900
  application/baremetal/benchmark/whetstone/npk.yml
  application/baremetal/benchmark/whetstone/toolchain_nuclei_gnu.mk
  application/baremetal/benchmark/whetstone/toolchain_nuclei_llvm.mk
Due: none

ci: add a job called sdk_check_xlcz to check xlcz addibne instruction generated or not
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: ignore build fail caused by unable to link nmsis library
  tools/scripts/misc/check_xlcz.sh
Due: none

build: when disassemble elf file show no alias instructions
  Build/Makefile.rules
Due: none

application: Fix dhrystone strcmp_xlcz.S removed by make clean in windows
  application/baremetal/benchmark/dhrystone/Makefile
Due: none

tools: add n200 zc test configurations, some configs include zicond
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_zc.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_zc_codesize.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_zc_libncrt.json
Due: none

fpgaci: add zc support for n200
  tools/scripts/nsdk_cli/configs/fpgaci/zcbench/cpu_arch/full/n200.json
  tools/scripts/nsdk_cli/configs/fpgaci/zcbench/n200.json
Due: none

fpgaci: add n200 zc configs for zcclibbench
  tools/scripts/nsdk_cli/configs/fpgaci/zcclibbench/cpu_arch/full/n200.json
  tools/scripts/nsdk_cli/configs/fpgaci/zcclibbench/n200.json
Due: none

ci: bump sdkbuild to 2024.02.05 include n200 zc supoort
  .gitlab-ci.yml
Due: build_doc, deploy_doc

fpgaci: add n200 for zcclibbench cpu_arch/mini
  tools/scripts/nsdk_cli/configs/fpgaci/zcbench/cpu_arch/mini/n200.json
  tools/scripts/nsdk_cli/configs/fpgaci/zcclibbench/cpu_arch/mini/n200.json
Due: none

ci: bump sdkbuild to 2024.02.06
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: bump to use sdkbuild:2024.02.07
  .gitlab-ci.yml
Due: build_doc, deploy_doc

test/core: add case to test cm.popretz
  test/core/test_zc.c
Due: none

ci: include zc configs for test/core checker
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: bump sdkbuild to 2024.02.08
  .gitlab-ci.yml
Due: build_doc, deploy_doc

test/core: not run atomic case when A extension not present
  test/core/test_atomic.c
Due: none

ci: bump sdkbuild to 2024.02.18
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: optimize merge request and branch pipeline rules
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: add a simple tool to check npk.yml is a yaml file
  tools/scripts/nsdk_cli/check_npk.py
Due: none

ci: add a check stage to do quick check of nuclei sdk
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: add a job sdk_check_npk to check npk.yml is a yaml file
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: Fix sdk_check_npk job
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: sdk_sync_tools don't run on merge request
  .gitlab-ci.yml
Due: build_doc, deploy_doc

SoC: format gd32vf103v_rvstar source
  SoC/gd32vf103/Board/gd32vf103v_rvstar/Include/gd32vf103v_rvstar.h
  SoC/gd32vf103/Board/gd32vf103v_rvstar/Source/gd32vf103v_rvstar.c
Due: none

Board: add gd32vf103c_dlink board support package
  SoC/gd32vf103/Board/gd32vf103c_dlink/Include/gd32vf103c_dlink.h
  SoC/gd32vf103/Board/gd32vf103c_dlink/Include/nuclei_sdk_hal.h
  SoC/gd32vf103/Board/gd32vf103c_dlink/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103c_dlink/Source/gd32vf103c_dlink.c
  SoC/gd32vf103/Board/gd32vf103c_dlink/npk.yml
  SoC/gd32vf103/Board/gd32vf103c_dlink/openocd_gd32vf103.cfg
Due: none

tools: add gd32vf103c_dlink.json for nsdk_cli
  tools/scripts/nsdk_cli/configs/gd32vf103c_dlink.json
Due: none

tools: add a tool to check json or yaml configuration files
  tools/scripts/nsdk_cli/check_cfgfiles.py
Due: none

ci: add a job to check config files
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: add dlink build check in build_gd32vf103 job
  .gitlab-ci.yml
Due: build_doc, deploy_doc

SoC/gd32vf103: Fix non-ABS relocation R_RISCV_JAL against symbol '_start' fail for nuclei_llvm toolchain
  SoC/gd32vf103/Board/gd32vf103c_dlink/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103c_longan_nano/Source/GCC/gcc_gd32vf103x8_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103c_longan_nano/Source/GCC/gcc_gd32vf103xb_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103c_t_display/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103v_eval/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103v_rvstar/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Common/Source/GCC/intexc_gd32vf103.S
  SoC/gd32vf103/Common/Source/GCC/startup_gd32vf103.S
Due: none

ci: add different toolchain build check
  .gitlab-ci.yml
Due: build_doc, deploy_doc

doc: add initial doc for gd32vf103c_dlink board
  doc/source/asserts/images/gd32vf103c_dlink_board.jpg
  doc/source/design/board/gd32vf103c_dlink.rst
  doc/source/design/board/index.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website
