Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*

NMSIS/Core: add new field mapping of mtlbcfg_info csr
  NMSIS/Core/Include/core_feature_base.h
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

tools: add `matrix` field in appcfg or hwcfg for `nsdk_bench.py`
  doc/source/changelog.rst
  tools/scripts/nsdk_cli/nsdk_bench.py
Due: build_doc, deploy_doc, deploy_website

Build: add -isystem flag for libncrt support when using nuclei_llvm toolchain
  Build/toolchain/nuclei_llvm.mk
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

doc: Update buildsystem documentation with compiler flags recommendation
  doc/source/changelog.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

application: refactor cpuinfo to show more and ease porting
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
  application/baremetal/cpuinfo/main.c
Due: none

application: add `get_basic_cpuinfo` in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
Due: none

doc: update changelog and expected output of cpuinfo
  doc/source/changelog.rst
  doc/source/design/app.rst
Due: build_doc, deploy_doc, deploy_website

tools: add nuclei sdk cli test configuration generator script gen_config.py
  doc/source/changelog.rst
  tools/scripts/misc/gen_config.py
  tools/scripts/nsdk_cli/configs/gencfgs/gencfg_wo_zxinx.txt
  tools/scripts/nsdk_cli/configs/gencfgs/gencfg_zxinx.txt
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_wo_zxinx.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_wo_zxinx_libncrt.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_zxinx.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_zxinx_libncrt.json
Due: build_doc, deploy_doc, deploy_website

application: add `mhartid` in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
  application/baremetal/cpuinfo/main.c
Due: none

Build: Update the built-in basic library link option of ZCC Toolchain
  SoC/evalsoc/Common/npk.yml
Due: none

application: Add CHK_MODE makefile variable for PMP and SMPU demo applications
  application/baremetal/demo_pmp/Makefile
  application/baremetal/demo_pmp/demo_pmp.c
  application/baremetal/demo_smpu/Makefile
  application/baremetal/demo_smpu/demo_smpu.c
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

application: provide an entry for user to customize printf function in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
  application/baremetal/cpuinfo/cpuinfo_cfg.h
Due: none

application: update iinfo section name and address format in output
  application/baremetal/cpuinfo/cpuinfo.c
Due: none

application: Update PMA test message to "PMA Test finished"
  application/baremetal/demo_pma/demo_pma.c
  tools/scripts/nsdk_cli/configs/application.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/app.json
Due: none

tools: add support for parsing NMSIS benchmark logs
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

docs: Add the version description of zcc toolchain to prevent users from making mistakes during use
  Build/toolchain/terapines.mk
  SoC/evalsoc/Common/npk.yml
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

ci: generate benchmark elfs manually
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: add missing ``demo_profiling`` pass checker in nsdk cli configuration files
  doc/source/changelog.rst
  tools/scripts/nsdk_cli/configs/application.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/app.json
Due: build_doc, deploy_doc, deploy_website

Build: Adapt Terapines Zcc(>=4.1.2) compiler options to match STDCLIB makefile variable. (#63)
  Build/toolchain/terapines.mk
  SoC/evalsoc/Common/npk.yml
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/coremark/toolchain_terapines.mk
  application/baremetal/benchmark/dhrystone/npk.yml
  application/baremetal/benchmark/dhrystone/toolchain_terapines.mk
  application/baremetal/benchmark/dhrystone_v2.2/npk.yml
  application/baremetal/benchmark/dhrystone_v2.2/toolchain_terapines.mk
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

application: rename `CPU_CSR_Group` to `CPU_INFO_Group` in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
  application/baremetal/cpuinfo/main.c
Due: none

application: rename `csrs` to `cpuinfo` in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
  application/baremetal/cpuinfo/main.c
Due: none

application: move IREGION offsets Macros from cpuinfo.c to .h in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
  application/baremetal/cpuinfo/main.c
Due: none

application: add more fields in CPU_INFO_Group in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
  application/baremetal/cpuinfo/main.c
Due: none

application: move the comment about `mtlbcfg` close to the related code in cpuinfo
  application/baremetal/cpuinfo/main.c
Due: none

application: indicate `ULL` or `UL` type of literal value `0x3FF` in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/main.c
Due: none

application: add `iregion_base` entry in `CPU_INFO_Group` in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
  application/baremetal/cpuinfo/main.c
Due: none

application: remove the unused variable in cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
Due: none

application: handle x32/x64 printf format difference
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo_cfg.h
  application/baremetal/cpuinfo/main.c
Due: none

application: move xlen to cpuinfo struct display basic cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo.h
  application/baremetal/cpuinfo/main.c
Due: none

application: cpuinfo support gd32vf103 SoC
  application/baremetal/cpuinfo/main.c
Due: none

application: add NUCLEI_CPUINFO structure for openocd in cpuinfo.h
  application/baremetal/cpuinfo/cpuinfo.h
Due: none

tools: mark cpuinfo run fail for nuclei_llvm toolchain due to qemu iregion issue
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu_small_llvm.json
Due: none

application: dont show invalid cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
Due: none

application: support print 64bit addr for openocd win64
  application/baremetal/cpuinfo/cpuinfo.c
  application/baremetal/cpuinfo/cpuinfo_cfg.h
Due: none

SoC/evalsoc: optimize smp bringup process for nuclei qemu 2025.10
  SoC/evalsoc/Common/Source/system_evalsoc.c
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

SoC/evalsoc: add wait counter to sync harts to prevent infinite loop
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

SoC/evalsoc: Fix cnt is not set to 0 during __sync_harts
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

application: enable idle and passive idle hooks, set configIDLE_SHOULD_YIELD to 0 to prevent deadlock in SMP mode
  application/freertos/demo/main.c
  application/freertos/smpdemo/FreeRTOSConfig.h
  application/freertos/smpdemo/main.c
  doc/source/changelog.rst
  doc/source/design/rtos.rst
Due: build_doc, deploy_doc, deploy_website

application: change freertos smp task delay to 15ms
  application/freertos/smpdemo/main.c
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

tools/scripts: update smpdemo hw ci checker to let it run more time
  tools/scripts/nsdk_cli/configs/fpgaci/smpapp/app.json
Due: none
