Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

build_doc:
  stage: check
  interruptible: true
  retry: 1
  artifacts:
    name: nuclei_n100_sdk_doc-job${CI_JOB_ID}-${CI_COMMIT_SHA::8}
    paths:
    - doc/build
    expire_in: 2 day
  before_script:
  - apt update
  - apt install -y lftp python3 make latexmk texlive-base texlive-latex-extra python3-pip
  ...

deploy_doc:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ssh $DOC_SERVER "rm -rf $DOC_CENTER/nuclei_sdk/*"
  - ssh $DOC_SERVER "mkdir -p $DOC_CENTER/nuclei_sdk/"
  - cd doc/build
  - scp -r html $DOC_SERVER:$DOC_CENTER/nuclei_n100_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

deploy_website:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ./.ci/ftp_deploy.sh $FTPUSER $FTPPWD $FTPSERVER doc/build/html nuclei_n100_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::whss1

tools: Add --download=xxx in run_app_onxlmodel
  tools/scripts/nsdk_cli/nsdk_builder.py
Due: none

NMSIS/Core/Include: set mattri(n)_base 0 to clear it before set the pma region, and then fence.i it, which is safe
  NMSIS/Core/Include/core_feature_pma.h
Due: none

ci: bump sdkbuild podman image to 2025.10
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: no need to install apt and pip package now
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: update sdkbuild to 2025.10
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: enable zfinx/zdinx toolchain and qemu ci testing
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: no longer install any apt or pip package during ci
  .gitlab-ci.yml
Due: build_doc, deploy_doc

NMSIS/Core: Fix nuclei_llvm intrinsic API not present issue
  NMSIS/Core/Include/core_feature_dsp.h
  NMSIS/Core/Include/nmsis_version.h
Due: none

ci: add ci test jobs for zcmp/zcmt testing
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: add zcmp/zcmt nsdk_cli testing config files
  tools/scripts/nsdk_cli/configs/gencfgs/gencfg_zcmp.txt
  tools/scripts/nsdk_cli/configs/gencfgs/gencfg_zcmt.txt
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_zcmp.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_zcmp_libncrt.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_zcmt.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_zcmt_libncrt.json
Due: none

application: if no feature present dont print Feature for cpuinfo
  application/baremetal/cpuinfo/cpuinfo.c
Due: none

doc: update nuclei sdk cpuinfo app doc to mention openocd sync
  doc/source/design/app.rst
Due: build_doc, deploy_doc, deploy_website

ci: optimize and shorten gitlab job name
  .gitlab-ci.yml
Due: build_doc, deploy_doc

doc: update changelog about ci changes
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

ci: bump github ci to use latest 2025.10 release
  .github/workflows/build_sdk.yaml
Due: none

doc: update build system notice about 2025.10 and zcc
  doc/source/changelog.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

ci: bump github ci to use 2025.10 tools
  .github/workflows/build_sdk.yaml
Due: none

SoC/evalsoc: Fix gdb not correct when toolchain choose Terapines ZCC
  SoC/evalsoc/Board/nuclei_fpga_eval/npk.yml
Due: none

misc: bump n100 sdk to 0.3.0-dev version
  doc/source/changelog.rst
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

SoC/evalsoc: add debug configuration support for nuclei cpu model in npk
  SoC/evalsoc/Board/nuclei_fpga_eval/npk.yml
  SoC/evalsoc/Common/npk.yml
Due: none

doc: bump nuclei sdk doc to match 2025.10 tools
  doc/source/changelog.rst
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

SoC/evalsoc: Enable IC_CANCEL_EN by default to prevent I-cache pipeline stalls on branch misprediction
  SoC/evalsoc/Common/Source/system_evalsoc.c
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

application: add threadx smp demo application
  application/threadx/smpdemo/Makefile
  application/threadx/smpdemo/main.c
  application/threadx/smpdemo/npk.yml
  application/threadx/smpdemo/toolchain_nuclei_gnu.mk
  application/threadx/smpdemo/tx_user.h
Due: none

OS/ThreadX: able to run smp=2 for ux900fd, but smpx4 directly enter to exception
  OS/ThreadX/ports_smp/nuclei/port.c
  OS/ThreadX/ports_smp/nuclei/tx_port.h
  application/threadx/smpdemo/Makefile
  application/threadx/smpdemo/main.c
Due: none

threadx/smp: increase task stack size and per-cpu stack size
  application/threadx/smpdemo/Makefile
  application/threadx/smpdemo/main.c
Due: none

OS/threadx: Fix threadx idle task emulation via WFI in eclic msip handler
  OS/ThreadX/ports/nuclei/port.c
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

OS/ThreadX: Fix threadx smp idle task handling
  OS/ThreadX/ports_smp/nuclei/port.c
  application/threadx/smpdemo/Makefile
  application/threadx/smpdemo/main.c
Due: none

application: optimize threadx smp demo code and comments
  application/threadx/smpdemo/main.c
  application/threadx/smpdemo/npk.yml
Due: none

OS/ThreadX: update iar and gcc porting code for threadx smp
  OS/ThreadX/ports_smp/nuclei/gcc/context.S
  OS/ThreadX/ports_smp/nuclei/iar/context.S
Due: none

OS/ThreadX: cleanup threadx smp porting code
  OS/ThreadX/ports_smp/nuclei/module_manager/src/txm_module_manager_thread_stack_build.c
  OS/ThreadX/ports_smp/nuclei/port.c
Due: none

OS/ThreadX: update npk.yml for ThreadX SMP support
  OS/ThreadX/npk.yml
Due: none

doc: add ThreadX SMP support and demo documentation
  doc/source/changelog.rst
  doc/source/design/app.rst
  doc/source/design/rtos.rst
Due: build_doc, deploy_doc, deploy_website

OS/ThreadX: add ThreadX SMP support for IAR compiler
  OS/ThreadX/ports_smp/nuclei/iar/context.S
  application/threadx/smpdemo/Makefile
  application/threadx/smpdemo/iar_evalsoc_smp.icf
Due: none

ideprojects/iar: add threadx smpdemo iar project
  doc/source/changelog.rst
  ideprojects/iar/README.md
  ideprojects/iar/nucleisdk.eww
  ideprojects/iar/rtos/threadx_smpdemo.ewd
  ideprojects/iar/rtos/threadx_smpdemo.ewp
Due: build_doc, deploy_doc, deploy_website

tools: add ThreadX SMP demo application nsdk_cli configurations
  tools/scripts/nsdk_cli/configs/application.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/smpapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/app.json
  tools/scripts/nsdk_cli/configs/smp_application.json
Due: none

OS/ThreadX: add missing tx_thread_run_count increase in threadx portable code
  OS/ThreadX/ports/nuclei/gcc/context.S
  OS/ThreadX/ports/nuclei/iar/context.S
  OS/ThreadX/ports/nuclei/port.c
  OS/ThreadX/ports_smp/nuclei/gcc/context.S
  OS/ThreadX/ports_smp/nuclei/iar/context.S
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

tools/scripts: nuclei qemu 2025.10 currently don't support smp rtos such as FreeRTOS and ThreadX
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_bpv.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_libncrt.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu.json
Due: none

tools/scripts: add ERROR checker in SMP demo in nsdk_cli configs
  application/threadx/smpdemo/main.c
  tools/scripts/nsdk_cli/configs/fpgaci/smpapp/app.json
  tools/scripts/nsdk_cli/configs/smp_application.json
Due: none

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*
