Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*

OS: Add SMP FreeRTOS npk support
  OS/FreeRTOS/npk.yml
Due: none

ideprojects: add note for freertos smpdemo for iar projects
  ideprojects/iar/README.md
Due: none

application: add a freertos smpdemo for nx900 smp x 2
  application/freertos/smpdemo/FreeRTOSConfig.h
  application/freertos/smpdemo/Makefile
  application/freertos/smpdemo/main.c
  application/freertos/smpdemo/npk.yml
Due: none

OS: Add SMP FreeRTOS support in IAR
  OS/FreeRTOS/Source/portable/IAR/portasm.S
Due: none

ideprojects: add freertos_smpdemo into iar projects
  ideprojects/iar/nucleisdk.eww
Due: none

OS: Add SMP FreeRTOS build support
  OS/FreeRTOS/build.mk
Due: none

ideprojects/iar: update doc about iar smp support
  ideprojects/iar/README.md
Due: none

SoC: update iar smp stack support, use linker define SMP_CPU_CNT to specify how many smp cpu supported
  SoC/evalsoc/Common/Source/IAR/startup.S
  application/baremetal/demo_cidu/iar_evalsoc_smp.icf
  application/baremetal/smphello/iar_evalsoc_smp.icf
Due: none

tools: update freertos smpdemo into nsdk config files
  tools/scripts/nsdk_cli/configs/application.json
  tools/scripts/nsdk_cli/configs/fpgaci/bareapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/clibapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/smpapp/app.json
  tools/scripts/nsdk_cli/configs/fpgaci/toolapp/app.json
  tools/scripts/nsdk_cli/configs/smp_application.json
Due: none

OS: Fix freertos compile fail for gd32v targets
  OS/FreeRTOS/Source/portable/port.c
Due: none

ci: Fix dobench log directories not generated correctly as expected
  .gitlab-ci.yml
Due: build_doc, deploy_doc

application: Update demo_vnice for new instruction for complex mask multiplication
  application/baremetal/demo_vnice/insn.c
  application/baremetal/demo_vnice/insn.h
  application/baremetal/demo_vnice/main.c
Due: none

doc: update and add documentation for 0.5.1 release
  doc/source/appendix.rst
  doc/source/changelog.rst
  doc/source/design/app.rst
  doc/source/design/board/gd32vw553h_eval.rst
  doc/source/design/board/index.rst
  doc/source/design/rtos.rst
  doc/source/design/soc/evalsoc.rst
  doc/source/design/soc/gd32vf103.rst
  doc/source/design/soc/gd32vw55x.rst
  doc/source/design/soc/index.rst
  doc/source/develop/buildsystem.rst
  doc/source/overview.rst
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

tools: don't force set DOWNLOAD mode it should be overrided in dobench/run.sh
  tools/scripts/misc/dobench/bench_n200.json
  tools/scripts/misc/dobench/bench_n300.json
  tools/scripts/misc/dobench/bench_n600.json
  tools/scripts/misc/dobench/bench_n900.json
  tools/scripts/misc/dobench/bench_nx600.json
  tools/scripts/misc/dobench/bench_nx900.json
  tools/scripts/misc/dobench/bench_ux1000.json
Due: none

tools: don't force set DOWNLOAD mode it should be overrided in dobench/run.sh
  tools/scripts/misc/dobench/bench_n100.json
  tools/scripts/misc/dobench/bench_n200.json
  tools/scripts/misc/dobench/bench_n300.json
  tools/scripts/misc/dobench/bench_n600.json
  tools/scripts/misc/dobench/bench_n900.json
  tools/scripts/misc/dobench/bench_nx600.json
  tools/scripts/misc/dobench/bench_nx900.json
Due: none

tools: generate to logdir for single run
  tools/scripts/misc/dobench/run.sh
Due: none

ci: record default benchmark to gen/default for dobench.sh
  .gitlab-ci.yml
Due: build_doc, deploy_doc

doc: do small updates to nuclei n100 sdk, not yet finished
  doc/source/design/board/nuclei_fpga_eval.rst
  doc/source/design/overview.rst
  doc/source/design/peripheral.rst
Due: build_doc, deploy_doc, deploy_website

misc: rename release 0.5.1-dev to 0.6.0-dev
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/design/rtos.rst
  doc/source/design/soc/evalsoc.rst
  ideprojects/iar/README.md
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

tools: enable different DOWNLOAD control for dobench/run.sh
  tools/scripts/misc/dobench/run.sh
Due: none

ci: add flash mode benchmark generation using dobench.sh
  .gitlab-ci.yml
Due: build_doc, deploy_doc

SoC: optimize get_cpu_freq for SIMULATION=1 case
  SoC/evalsoc/Common/Source/evalsoc_common.c
Due: none

SoC: Fix clang based compiler build issue
  SoC/evalsoc/Common/Include/system_evalsoc.h
  SoC/evalsoc/Common/Source/GCC/intexc_evalsoc.S
  SoC/evalsoc/Common/Source/GCC/startup_evalsoc.S
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

build: add terapines toolchain support
  Build/toolchain/terapines.mk
Due: none

application: add benchmark flags optimized for n100
  application/baremetal/benchmark/coremark/toolchain_terapines.mk
  application/baremetal/benchmark/dhrystone/toolchain_terapines.mk
  application/baremetal/benchmark/whetstone/toolchain_terapines.mk
Due: none

doc: update n100 sdk for only 100 series
  doc/source/appendix.rst
  doc/source/conf.py
  doc/source/contribute.rst
  doc/source/design/app.rst
  doc/source/design/board/nuclei_fpga_eval.rst
  doc/source/design/nuclei.rst
  doc/source/design/overview.rst
  doc/source/design/peripheral.rst
  doc/source/design/rtos.rst
  doc/source/design/soc/evalsoc.rst
  doc/source/develop/appdev.rst
  doc/source/develop/builddoc.rst
  doc/source/develop/buildsystem.rst
  doc/source/develop/codestyle.rst
  doc/source/faq.rst
  doc/source/index.rst
  doc/source/overview.rst
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

doc: update n100 sdk diagram images
  doc/source/asserts/images/gd32vf103_soc_diagram.png
  doc/source/asserts/images/gd32vf103v_eval_board.jpg
  doc/source/asserts/images/gd32vf103v_rvstar_board.jpg
  doc/source/asserts/images/nsdk_logo_small.png
  doc/source/asserts/images/nuclei_sdk_diagram.png
  doc/source/asserts/images/nuclei_tool_build-tools_directory.png
  doc/source/asserts/images/nuclei_tool_gcc_directory.png
  doc/source/asserts/images/nuclei_tool_openocd_directory.png
  doc/source/asserts/images/nuclei_tools_download_linux.png
  doc/source/asserts/images/nuclei_tools_download_win.png
  doc/source/asserts/images/sipeed_longan_nano_board.png
  doc/source/asserts/images/sipeed_longan_nano_pinout.jpg
  doc/source/asserts/images/sipeed_longan_nano_schematic.png
  doc/source/asserts/images/ttgo_t_display_board.jpg
  doc/source/design/nuclei.rst
Due: build_doc, deploy_doc, deploy_website

ideprojects/iar: update iar projects for n100 cpu
  ideprojects/iar/baremetal/coremark.ewp
  ideprojects/iar/baremetal/cpuinfo.ewp
  ideprojects/iar/baremetal/demo_cache.ewd
  ideprojects/iar/baremetal/demo_cache.ewp
  ideprojects/iar/baremetal/demo_dsp.ewd
  ideprojects/iar/baremetal/demo_dsp.ewp
  ideprojects/iar/baremetal/demo_eclic.ewp
  ideprojects/iar/baremetal/demo_extirq.ewd
  ideprojects/iar/baremetal/demo_extirq.ewp
  ideprojects/iar/baremetal/demo_irqc.ewd
  ideprojects/iar/baremetal/demo_irqc.ewp
  ideprojects/iar/baremetal/demo_nice.ewd
  ideprojects/iar/baremetal/demo_nice.ewp
  ideprojects/iar/baremetal/demo_pmp.ewd
  ideprojects/iar/baremetal/demo_pmp.ewp
  ideprojects/iar/baremetal/demo_smode_eclic.ewd
  ideprojects/iar/baremetal/demo_smode_eclic.ewp
  ideprojects/iar/baremetal/demo_spmp.ewd
  ideprojects/iar/baremetal/demo_stack_check.ewd
  ideprojects/iar/baremetal/demo_timer.ewp
  ideprojects/iar/baremetal/dhrystone.ewp
  ideprojects/iar/baremetal/helloworld.ewp
  ideprojects/iar/baremetal/lowpower.ewp
  ideprojects/iar/baremetal/whetstone.ewp
  ideprojects/iar/nucleisdk.eww
  ideprojects/iar/rtos/freertos_demo.ewp
  ideprojects/iar/rtos/rtthread_demo.ewp
  ideprojects/iar/rtos/rtthread_msh.ewp
  ideprojects/iar/rtos/ucosii_demo.ewp
Due: none

SoC/evalsoc: update iar startup code for n100
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/IAR/iar_evalsoc_ddr.icf
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/IAR/iar_evalsoc_flashxip.icf
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/IAR/iar_evalsoc_ilm.icf
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/IAR/iar_evalsoc_sram.icf
  SoC/evalsoc/Common/Source/IAR/intexc_evalsoc.S
  SoC/evalsoc/Common/Source/IAR/startup_evalsoc.c
Due: none

application: Fix iar compile fail issue for demo_irqc and demo_extirq
  application/baremetal/demo_extirq/main.c
  application/baremetal/demo_irqc/main.c
Due: none

application: change dhry iteration from 5000 to 2000 for iar compiler
  application/baremetal/benchmark/dhrystone/dhry_1.c
Due: none

NMSIS: bugfix: Fix PMP/sPMP protection val shift bug due to type error
  NMSIS/Core/Include/core_feature_pmp.h
  NMSIS/Core/Include/core_feature_spmp.h
Due: none

application: bugfix: fix l2 cache existance check for cpuinfo
  application/baremetal/cpuinfo/main.c
Due: none

OS: update rtos port for iar compiler
  OS/FreeRTOS/Source/portable/IAR/portasm.S
  OS/RTThread/libcpu/risc-v/nuclei/iar/context_iar.S
  OS/UCOSII/arch/os_cpu_port.c
  ideprojects/iar/baremetal/helloworld.ewp
  ideprojects/iar/rtos/rtthread_demo.ewp
  ideprojects/iar/rtos/rtthread_msh.ewp
Due: none

OS: cleanup rtos port for n100
  OS/FreeRTOS/Source/portable/GCC/portasm.S
  OS/FreeRTOS/Source/portable/IAR/portasm.S
  OS/RTThread/libcpu/risc-v/nuclei/gcc/context_gcc.S
  OS/RTThread/libcpu/risc-v/nuclei/iar/context_iar.S
  OS/UCOSII/arch/gcc/os_cpu_a.S
  OS/UCOSII/arch/iar/os_cpu_a.S
Due: none

NMSIS: update for modified N100 NMSIS
  NMSIS/Core/Include/nmsis_compiler.h
  NMSIS/Core/Include/nmsis_core.h
  NMSIS/Core/Include/nmsis_version.h
  NMSIS/Core/Include/riscv_encoding.h
  NMSIS/npk.yml
Due: none

SoC: update evalsoc iar linker and header files
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/IAR/iar_evalsoc_flashxip.icf
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/IAR/iar_evalsoc_ilm.icf
  SoC/evalsoc/Common/Include/evalsoc.h
  SoC/evalsoc/Common/Include/system_evalsoc.h
  SoC/evalsoc/Common/npk.yml
  SoC/evalsoc/build.mk
Due: none

ideproject/iar: update iar projects for n100 cpu
  ideprojects/iar/README.md
  ideprojects/iar/asserts/nsdk_iar_projects.png
  ideprojects/iar/baremetal/demo_irqc.ewp
  ideprojects/iar/baremetal/helloworld.ewp
  ideprojects/iar/nuclei_n100_sdk.eww
  ideprojects/iar/scripts/upload_iar_elfs.sh
Due: none

doc: update n100 application part doc
  doc/source/design/app.rst
  doc/source/design/nuclei.rst
  doc/source/faq.rst
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website
