Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/source/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/source/**/**/**/*

build: Add middleware components build system
  Build/Makefile.base
  Build/Makefile.components
  Build/Makefile.conf
Due: none

Build: Update OS/SoC/Component build system
  Build/Makefile.components
  Build/Makefile.rtos
  Build/Makefile.soc
  OS/FreeRTOS/build.mk
  OS/RTThread/build.mk
  OS/UCOSII/build.mk
  SoC/demosoc/Makefile.build
  SoC/demosoc/Makefile.files
  SoC/demosoc/build.mk
  SoC/gd32vf103/Makefile.build
  SoC/gd32vf103/Makefile.files
  SoC/gd32vf103/build.mk
Due: none

doc: update for build system changes
  README.md
  doc/source/changelog.rst
  doc/source/contribute.rst
  doc/source/design/overview.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

build: misc cleanup in SoC build files
  Build/Makefile.components
  Build/Makefile.rtos
  SoC/demosoc/build.mk
  SoC/gd32vf103/build.mk
Due: none

Components: create a empty directory for middleware components
  Components/.keep
Due: none

SoC: Add EXC_Frame_Type struct and Exception_DumpFrame function
  SoC/demosoc/Common/Include/system_demosoc.h
  SoC/demosoc/Common/Source/system_demosoc.c
  SoC/gd32vf103/Common/Include/system_gd32vf103.h
  SoC/gd32vf103/Common/Source/system_gd32vf103.c
Due: none

test: change ebreak test case to ecall test case
  test/core/test_csr.c
Due: none

Build: Dont limit the SUPPORTED_DOWNLOAD_MODES
  Build/Makefile.conf
Due: none

build: add more core list in Makefile.core
  Build/Makefile.core
Due: none

SoC: Use VECTOR_TABLE_REMAPPED to control startup vector table location
  SoC/demosoc/Board/nuclei_fpga_eval/Source/GCC/gcc_demosoc_flash.ld
  SoC/demosoc/Common/Include/demosoc.h
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
  SoC/demosoc/Common/Source/system_demosoc.c
  SoC/demosoc/build.mk
  SoC/gd32vf103/Common/Include/gd32vf103.h
  SoC/gd32vf103/Common/Source/GCC/startup_gd32vf103.S
  SoC/gd32vf103/Common/Source/system_gd32vf103.c
Due: none

NMSIS: DOWNLOAD_MODE_xxx macros are now defined in <Device.h>
  NMSIS/Core/Include/riscv_encoding.h
Due: none

scons: change scons script to support new DOWNLOAD method
  SConscript
Due: none

doc: update changelog for VECTOR_TABLE_REMAPPED macro
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

build: Add NUCLEI_SDK_NMSIS macro to represent where NMSIS located
  Build/Makefile.base
Due: none

Build: Use NUCLEI_SDK_NMSIS in Makefiles.base
  Build/Makefile.base
  Build/Makefile.files
Due: none

application: decrease run loops when in rtl simulation
  application/baremetal/benchmark/dhrystone/dhry_1.c
  application/baremetal/helloworld/main.c
Due: none

SoC: update demo eclic irq interrupt map
  SoC/demosoc/Common/Include/demosoc.h
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
Due: none

build: Add BANNER variable to control sdk banner print or not
  Build/Makefile.base
  Build/Makefile.conf
Due: none

doc: update build system document
  doc/source/contribute.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

doc: add more description about make variable
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

doc: update buildsystem and quickstart
  doc/source/develop/buildsystem.rst
  doc/source/quickstart.rst
Due: build_doc, deploy_doc, deploy_website

SoC: add more customized csrs into show
  SoC/demosoc/Board/nuclei_fpga_eval/openocd_demosoc.cfg
Due: none

build: NUCLEI_SDK_SOC and NUCLEI_SDK_RTOS variable need to be deferred
  Build/Makefile.base
Due: none

SoC: Add bit operations macros in <Device.h>
  SoC/demosoc/Common/Include/demosoc.h
  SoC/gd32vf103/Common/Include/gd32vf103.h
Due: none

doc: add changelog for soc changes
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

SoC: Fix incorrect definition of BITS macro
  SoC/demosoc/Common/Include/demosoc.h
  SoC/gd32vf103/Common/Include/gd32vf103.h
Due: none

SoC: Add more macros to set bit/bits and addr conversion
  SoC/demosoc/Common/Include/demosoc.h
  SoC/gd32vf103/Common/Include/gd32vf103.h
Due: none

soc: Fix measure frequency for high frequency
  SoC/demosoc/Common/Source/demosoc_common.c
  SoC/gd32vf103/Common/Source/gd32vf103_soc.c
Due: none

soc: fix demosoc.h code format
  SoC/demosoc/Common/Include/demosoc.h
Due: none

ci: change gitlab ci to use docker runner
  .gitlab-ci.yml
Due: build_doc, deploy_doc

NMSIS: update NMSIS-Core header to 1.0.2
  NMSIS/Core/Include/core_feature_base.h
  NMSIS/Core/Include/core_feature_cache.h
  NMSIS/Core/Include/core_feature_dsp.h
  NMSIS/Core/Include/core_feature_eclic.h
  NMSIS/Core/Include/riscv_bits.h
  NMSIS/Core/Include/riscv_encoding.h
Due: none

NMSIS: update NMSIS-NN header file to 1.0.2
  NMSIS/NN/Include/riscv_nn_tables.h
  NMSIS/NN/Include/riscv_nn_types.h
  NMSIS/NN/Include/riscv_nnfunctions.h
  NMSIS/NN/Include/riscv_nnsupportfunctions.h
Due: none

misc: bump NMSIS_VERSION tag file
  NMSIS_VERSION
Due: none

application: update demo_dsp due to NMSIS 1.0.2 changes
  application/baremetal/demo_dsp/Makefile
  application/baremetal/demo_dsp/ref_common.h
Due: none

NMSIS: update dsp header file
  NMSIS/Core/Include/core_feature_dsp.h
Due: none

doc: update changelog
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

npk: initial version of npk for nuclei sdk
  NMSIS/npk.yml
  OS/FreeRTOS/npk.yml
  OS/RTThread/npk.yml
  OS/UCOSII/npk.yml
  SoC/demosoc/Board/nuclei_fpga_eval/npk.yml
  SoC/demosoc/Common/demosoc.svd
  SoC/demosoc/Common/npk.yml
  SoC/gd32vf103/Board/gd32vf103c_longan_nano/npk.yml
  SoC/gd32vf103/Board/gd32vf103c_t_display/npk.yml
  SoC/gd32vf103/Board/gd32vf103v_eval/npk.yml
  SoC/gd32vf103/Board/gd32vf103v_rvstar/npk.yml
  SoC/gd32vf103/Common/gd32vf103.svd
  SoC/gd32vf103/Common/npk.yml
  application/baremetal/benchmark/coremark/npk.yml
  application/baremetal/benchmark/dhrystone/npk.yml
  application/baremetal/benchmark/whetstone/npk.yml
  application/baremetal/demo_dsp/npk.yml
  application/baremetal/demo_eclic/npk.yml
  application/baremetal/demo_nice/npk.yml
  application/baremetal/demo_timer/npk.yml
  application/baremetal/helloworld/npk.yml
  application/freertos/demo/npk.yml
  application/rtthread/demo/npk.yml
  application/rtthread/msh/npk.yml
  application/ucosii/demo/npk.yml
  npk.yml
Due: none

OS: Fix task switch in task context
  OS/RTThread/libcpu/risc-v/nuclei/cpuport.c
Due: none
